<footer>
  <div class="ostap">
    <div class="logo"  [routerLink]="[ '/home' ]">
    </div>
    <div>
      <h4>Оренда по всій Україні</h4>
      <ul>
        <li>Львів</li>
        <li>Дніпро</li>
        <li>Одеса</li>
        <li>Харків</li>
        <li>Київ</li>
        <li>Вінниця</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="footer-links">
      <span  [routerLink]="[ '/home' ]">Головна</span>
      <p></p>
      <span  [routerLink]="[ '/about' ]">Про Нас</span>
      <p></p>
      <span  [routerLink]="[ '/contacts' ]">Контакти</span>
    </div>
  </div>
</footer>
